*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.log
*.sqlite3
.DS_Store
.idea/
*.swp
*.swo
~*
*.bak
*.tmp
*.pid
.vscode/
node_modules/
*.egg-info/
dist/
build/
*.egg
*.whl
myenv/
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.streamlit/

